* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #ddd;
}

a {

	color:  #fff;
	text-decoration: none;
}

.image {
	margin: 0 20%;
	padding: 0 5px;
}

.navbar {
	background-color: #222;
	padding: 20px;
	margin-bottom: 40px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar ul {
	list-style: none;
}

.navbar li {
	display: inline-block;
	color: #fff;
	padding: 0 5px;
}

.navbar li:first-child {
	margin-left: 40px;
}


.navbar .follow {
	margin-left: 60em;
	
}

.navbar h1:hover {
	font-style: italic;	
}


.button {
	padding: 8px;
	border-radius: 5px;
	background-color: #777;
	color: #fff;
}

.button:hover {
	border: 1px solid #fff;
	background-color: #777;
	color: #fff;
}

.container {
	margin: auto;
	width: 80%;
	margin-top: 50px;
	padding: 16px;
}


.container .heading, .container .content h1 {
	text-align: center;
	margin: 50px 0;
}

.container .heading h1 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.container .heading small {
	font-style: italic;
	font-weight: bolder;
}

.container .content ul{
	list-style-type: none;
	margin-top: 20px;
}

.container .content li:last-child {
	margin-top: 30px;

	}
	
.container .wiki {
	margin-top: 30px;

}

.container .wiki a {
	color: #0000ff;
	text-decoration: underline;
	
}